<div class="container" *ngIf="voter">
  <form [formGroup]="VoterForm" (ngSubmit)="updateVoter()">
    <div class="row">
      <div class="col-12 heading-section">
        <h1>{{ voter.code }} </h1>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>First Name Arabic:</label>
        <span>
          {{ voter.firstNameArabic }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Father Name Arabic:</label>
        <span>
          {{ voter.fatherNameArabic }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Family Arabic:</label>
        <span>
          {{ voter.familyArabic }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>First Name:</label>
        <span>
          {{ voter.firstName }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Father Name:</label>
        <span>
          {{ voter.fatherName }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Family Name:</label>
        <span>
          {{ voter.family }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Nationality:</label>
        <span>
          {{ voter.nationality }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Speciality:</label>
        <span>
          {{ voter.speciality }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Sub Chapter:</label>
        <span>
          {{ voter.subChapter }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Birth Date:</label>
        <span>
          {{ voter.birthDate | date }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Birth Country:</label>
        <span>
          {{ voter.birthCountry }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Birth Place:</label>
        <span>
          {{ voter.birthPlace }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Civil Id Mouhavaza:</label>
        <span>
          {{ voter.civilIdMouhavaza }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Civil Id Kadaa:</label>
        <span>
          {{ voter.civilIdKadaa }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Civil Id Region:</label>
        <span>
          {{ voter.civilIdRegion }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Registery Number:</label>
        <span>
          {{ voter.registeryNumber }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Civil Id place:</label>
        <span>
          {{ voter.civilIdPlace }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Registration:</label>
        <span>
          {{ voter.registration | date }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Last Covered Year:</label>
        <span>
          {{ voter.lastCoveredYear }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Graduation:</label>
        <span>
          {{ voter.graduation | date }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>School:</label>
        <span>
          {{ voter.school }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Graduation Country:</label>
        <span>
          {{ voter.graduationCountry }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Address Work:</label>
        <input formControlName="addressWork" />
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Mobile Work:</label>
        <input formControlName="mobileWork" />
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Phone Work:</label>
        <input formControlName="phoneWork" />
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Address Home:</label>
        <input formControlName="addressHome" />
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Mobile Home:</label>
        <input formControlName="mobileHome" />
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Phone Home:</label>
        <input formControlName="phoneHome" />
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Email:</label>
        <span>
          {{ voter.email }}
        </span>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Religion:</label>
        <input formControlName="religion" />
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Politic:</label>
        <input formControlName="politic" />
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Voting Years:</label>
        <ng-container *ngFor="let year of VotingYears; let i = index">
          <span>
            {{ year }} <span *ngIf="i < VotingYears.length - 1">,</span></span
          >
        </ng-container>
      </div>
      <div class="col-12 col-sm-6 field-container">
        <label>Reference:</label>
        <select  formControlName="referenceId">
          <option [ngValue]="null">Select Reference</option>
          <option *ngFor="let ref of ReferenceUsers" [ngValue]="ref.id">
            {{ ref.userName }}
          </option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-success" style="float:right">
      Update
    </button>
  </form>
</div>
