<div class="row no-margin">
  <div class="col-12 user-container">
    <div class="col-12">
      <button
        class="btn btn-success add-btn"
        *appHasRole="['OrganizationAdmin']"
        [routerLink]="['/createUser']"
      >
        Add User
      </button>
    </div>
    <table class="table">
      <tr>
        <th style="width:10%">User Id</th>
        <th style="width:30%">UserName</th>
        <th style="width:20%">Active Roles</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>
          {{ user.id }}
        </td>
        <td>
          {{ user.userName }}
        </td>
        <td>
          {{ user.userRoles[0]['role']['name'] }}
        </td>
      </tr>
    </table>
  </div>
</div>
