<h1>File Upload</h1>
<div class="form-group">
  <input
    #file
    type="file"
    multiple
    (change)="upload(file.files)"
    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  />
</div>
<div class="form-group">
  <select [(ngModel)]="VoterTypeId">
    <option *ngFor="let voterType of voterTypes" [ngValue]="voterType.id">
      {{ voterType.name }}</option
    >
  </select>
</div>

<!-- <span
  style="font-weight:bold;color:green;"
  *ngIf="progress > 0 && progress < 100"
>
  {{ progress }}%
</span> -->
<button type="button" class="btn btn-success" (click)="uploadFiles()">
  Upload Selected Files
</button>

<button type="button" class="btn btn-success" (click)="exportdata()">
  Export data
</button>
<!-- <button type="button" class="btn btn-warning" (click)="deleteData()">
  Delete Data
</button> -->
<div class="overlay" *ngIf="loading">
  <progressbar
    max="200"
    [value]="200"
    type="danger"
    [striped]="true"
    [animate]="true"
    style="width:300px"
    ><i>Data processing please wait</i></progressbar
  >
</div>
