<div class="row row-container">
  <div class="col-12 overflow-auto">
    <div class="row table-header-row">
      <div class="filter-section">
        <input
          class="form-control"
          [(ngModel)]="voterParams.code"
          placeholder="Code"
          type="number"
        />
        <input
          class="form-control"
          [(ngModel)]="voterParams.firstNameArabic"
          placeholder="First Name"
          type="text"
        />
        <input
          class="form-control"
          [(ngModel)]="voterParams.fatherNameArabic"
          placeholder="Father Name"
          type="text"
        />
        <input
          class="form-control"
          [(ngModel)]="voterParams.familyArabic"
          placeholder="Last Name"
          type="text"
        />
        <select
          class="form-control"
          [(ngModel)]="voterParams.subChapter"
          placeholder="SubChapter"
        >
          <option [ngValue]="null">Select Sub Chapter</option>
          <option
            *ngFor="let option of ConfigList.subChapter"
            [ngValue]="option"
            >{{ option }}
          </option>
        </select>
        <select
          class="form-control"
          [(ngModel)]="voterParams.civilIdMouhavaza"
          placeholder="civilIdMouhavaza"
        >
          <option [ngValue]="null">Select Mouhafaza</option>
          <option
            *ngFor="let option of ConfigList.civilIdMouhavaza"
            [ngValue]="option"
            >{{ option }}
          </option>
        </select>
        <select
          class="form-control"
          [(ngModel)]="voterParams.civilIdKadaa"
          placeholder="civilIdKadaa"
        >
          <option [ngValue]="null">Select Kadaa</option>
          <option
            *ngFor="let option of ConfigList.civilIdKadaa"
            [ngValue]="option"
            >{{ option }}
          </option>
        </select>
        <select
          class="form-control"
          [(ngModel)]="voterParams.civilIdRegion"
          placeholder="civilIdRegion"
        >
          <option [ngValue]="null">Select Region</option>
          <option
            *ngFor="let option of ConfigList.civilIdRegion"
            [ngValue]="option"
            >{{ option }}
          </option>
        </select>
        <select
          class="form-control"
          [(ngModel)]="voterParams.attend"
          placeholder="Attend"
        >
          <option [ngValue]="null">Attend</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
        <select
          class="form-control"
          [(ngModel)]="voterParams.contacted"
          placeholder="Contacted"
        >
          <option [ngValue]="null">Contacted</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
        <select
          class="form-control"
          [(ngModel)]="voterParams.abroad"
          placeholder="abroad"
        >
          <option [ngValue]="null">Abroad</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
        <select
          class="form-control"
          [(ngModel)]="voterParams.religion"
          placeholder="Religion"
        >
          <option [ngValue]="null">Select Religion</option>
          <option *ngFor="let option of ConfigList.religion" [ngValue]="option"
            >{{ option }}
          </option>
        </select>
        <select
          class="form-control"
          [(ngModel)]="voterParams.politic"
          placeholder="Politic"
        >
          <option [ngValue]="null">Select Politic</option>
          <option *ngFor="let option of ConfigList.politics" [ngValue]="option"
            >{{ option }}
          </option>
        </select>
        <select
          class="form-control"
          [(ngModel)]="voterParams.referenceId"
          placeholder="civilIdRegion"
        >
          <option [ngValue]="null">Select Reference</option>
          <option
            *ngFor="let option of ConfigList.referenceUsers"
            [ngValue]="option.value"
            >{{ option.name }}
          </option>
        </select>
      </div>
      <div class="btn-section">
        <button
          class="btn btn-success add-btn"
          (click)="exportVotersFiltered()"
        >
          Export All Filtered Data
        </button>
        <button class="btn btn-success add-btn" (click)="refreshData()">
          Filter
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 table-container">
    <table class="table">
      <tr>
        <th>Code</th>
        <th>First Name Ar</th>
        <th>Father Name Ar</th>
        <th>Family Ar</th>
        <th>Birth Date</th>
        <th>Religion</th>
        <th>Politic</th>
        <th>Reference</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let voter of voters">
        <td>
          {{ voter.code }}
        </td>
        <td>
          {{ voter.firstNameArabic }}
        </td>
        <td>
          {{ voter.fatherNameArabic }}
        </td>
        <td>
          {{ voter.familyArabic }}
        </td>
        <td>
          {{ voter.birthDate | date }}
        </td>
        <td>
          {{ voter.religion }}
        </td>
        <td>
          {{ voter.politic }}
        </td>
        <td>
          <select
            class="form-control"
            [(ngModel)]="voter.referenceId"
            (change)="setUserReference(voter)"
          >
            <option [ngValue]="null">Select Reference</option>
            <option *ngFor="let ref of ReferenceUsers" [ngValue]="ref.id">
              {{ ref.userName }}
            </option>
          </select>
        </td>
        <td class="action-tab">
          <a [routerLink]="['/voter-view/' + voter.id]">
            <fa-icon [icon]="['fas', 'eye']"></fa-icon>
          </a>
          <a [routerLink]="['/voter-edit/' + voter.id]">
            <fa-icon [icon]="['fas', 'user-edit']"></fa-icon>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="pagination-container d-flex justify-content-center">
  <pagination
    *ngIf="pagination && pagination.totalItems > 0"
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
    [maxSize]="10"
  >
  </pagination>
</div>
