<div class="row">
  <div class="col-12">
    <div class="row table-header-row">
      <div class="filter-section">
        <select
          class="form-control"
          [(ngModel)]="voterParams.voterTypeId"
          (change)="refreshData()"
        >
          <option [ngValue]="0"> All</option>
          <option *ngFor="let voterType of voterTypes" [ngValue]="voterType.id">
            {{ voterType.name }}</option
          >
        </select>
        <input
          class="form-control"
          [(ngModel)]="voterParams.religion"
          placeholder="Religion"
        />
        <input
          class="form-control"
          [(ngModel)]="voterParams.politic"
          placeholder="Politic"
        />
      </div>
      <div class="btn-section">
        <button
          class="btn btn-success add-btn"
          *appHasRole="['Admin']"
          [routerLink]="['/admin/add-voter']"
        >
          Add Voter
        </button>
        <button
          class="btn btn-success add-btn"
          *appHasRole="['Admin']"
          [routerLink]="['/admin/upload']"
        >
          Upload Data
        </button>
        <button class="btn btn-success add-btn" (click)="exportData()">
          Export
        </button>
        <button
          class="btn btn-success add-btn"
          *appHasRole="['Admin']"
          (click)="refreshData()"
        >
          Filter
        </button>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Type</th>
      <th>Code</th>
      <th>First Name Arabic</th>
      <th>First Name</th>
      <th>Family</th>
      <th>Birth Date</th>
      <th>Religion</th>
      <th>Politic</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let voter of voters">
      <td>{{ voter.voterType.name }}</td>
      <td>
        {{ voter.code }}
      </td>
      <td>
        {{ voter.firstNameArabic }}
      </td>
      <td>
        {{ voter.firstName }}
      </td>
      <td>
        {{ voter.family }}
      </td>
      <td>
        {{ voter.birthDate | date }}
      </td>
      <td>
        {{ voter.religion }}
      </td>
      <td>
        {{ voter.politic }}
      </td>
      <td class="action-tab">
        <a [routerLink]="['/admin/voter-view/' + voter.id]">
          <fa-icon [icon]="['fas', 'eye']"></fa-icon>
        </a>
        <a [routerLink]="['/admin/voter-edit/' + voter.id]">
          <fa-icon [icon]="['fas', 'user-edit']"></fa-icon>
        </a>
      </td>
    </tr>
  </table>
</div>
<div class="pagination-container d-flex justify-content-center">
  <pagination
    *ngIf="pagination && pagination.totalItems > 0"
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
