<div class="row">
  <div class="col-12">
    <button
      class="btn btn-success add-btn"
      *appHasRole="['Admin']"
      [routerLink]="['/admin/add-engenere']"
    >
      Add Engenere
    </button>
    <button
      class="btn btn-success add-btn"
      *appHasRole="['Admin']"
      [routerLink]="['/admin/upload-engenere']"
    >
      Upload Data
    </button>
  </div>
  <table class="table">
    <tr>
      <th style="width:10%">Voter Id</th>
      <th style="width:10%">Code</th>
      <th style="width:10%">First Name</th>
      <th style="width:15%">Birth Date</th>
      <th style="width:15%">Registration Date</th>
      <th style="width:20%">Graduation Date</th>
      <th style="width:5%">Vote</th>
      <th style="width:5%">Attend</th>
      <th style="width:5%">Transport</th>
      <th style="width:5%">Voted</th>
    </tr>
    <tr *ngFor="let voter of voters">
      <td>
        {{ voter.id }}
      </td>
      <td>
        {{ voter.code }}
      </td>
      <td>
        {{ voter.firstName }}
      </td>
      <td>
        {{ voter.birthDate | date }}
      </td>
      <td>
        {{ voter.registration | date }}
      </td>
      <td>
        {{ voter.graduation | date }}
      </td>
      <td>
        {{ voter.vote }}
      </td>
      <td>
        {{ voter.attend }}
      </td>
      <td>
        {{ voter.transport }}
      </td>
      <td>
        {{ voter.voted }}
      </td>
    </tr>
  </table>
</div>
<div class="pagination-container d-flex justify-content-center">
  <pagination *ngIf="pagination&&pagination.totalItems>0" [boundaryLinks]="true" [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
